<html>
    <head>
        {% load staticfiles %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/css/tag_cloud.css' %}" rel="stylesheet" type="text/css">
        {% block additional_head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="panel-heading modal-header">
            {% block header %}

            {% endblock %}
        </div>
        <div style="display: inline-flex">
            <div class="panel-body container ">
                {% block content %}{% endblock %}

                {% block other %}{% endblock %}
            </div>
            {% block right %}{% endblock %}
        </div>
        <div class="panel-footer text-center">
            All rights reserved. 2014
        </div>
    </body>
</html>